
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



$yellow-fondo: #f3dc92;
$headerandfooter: #c34c4c;
$amarillo-intenso:#F3BC08;
$amarillo-form:#e5eef4;
$azul: rgb(29, 83, 114);
$botones: #893030;

$font-title:'Ranchers', cursive;
$font-primary: 'Roboto', sans-serif;
